<div class="row mt-5">
  <div
    class="col-3"
    *ngFor="let item of heros"
    [ngClass]="{
        high: item.power > 100,
        medium: item.power < 100 && item.power>50,
        low: item.power < 50,
      }"
  >
    <div class="card">
      <div class="card-image">
        <img [src]="item.image" width="305px" height="200px" />
      </div>
      <div class="card-body">
        <h2>{{ item.name }}</h2>
        <p>{{ item.power }}</p>

        <button (click)="delete(item._id)" class="btn btn-danger">
          Delete
        </button>
        <button [routerLink]="['/update', item._id]" class="btn btn-info">
          Edit
        </button>
      </div>
    </div>
  </div>
</div>
<!-- https://lh3.googleusercontent.com/Ryg5ih-fOWbpEGDpbJYJz5RTq3_28Tvo2h3JQRCdiz16lw5ghitDMN6hcWA57g0d6_8VOqQYcCemRBOfZGQA64ZKkFOn71zuF1LDsXwCh4ywF-_z6VqxbBqmbQvK_-PWfZcztxDd1WDTEEUHX6GdP60 -->
