<div class="container">
  <h1 class="text-center mt-5 text-light">Hero App</h1>

  <div class="row mt-5">
    <div class="col-3">
      <input type="text" class="form-control m-1" />
    </div>
    <div class="col-3">
      <input type="text" class="form-control m-1" />
    </div>
    <div class="col-3">
      <input type="text" class="form-control m-1" />
    </div>
    <div class="col-3">
      <button class="btn form-control m-1 text-light">Create</button>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-3">
      <div class="card">
        <div class="card-image">
          <img
            src="https://lh3.googleusercontent.com/Ryg5ih-fOWbpEGDpbJYJz5RTq3_28Tvo2h3JQRCdiz16lw5ghitDMN6hcWA57g0d6_8VOqQYcCemRBOfZGQA64ZKkFOn71zuF1LDsXwCh4ywF-_z6VqxbBqmbQvK_-PWfZcztxDd1WDTEEUHX6GdP60"
            alt=""
            width="305px"
            height="200px"
          />
        </div>
        <div class="card-body">
          <h2>Monkey d luffy</h2>
          <p>22</p>
        </div>
      </div>
    </div>
    <!-- -->
    <div class="col-3">
      <div class="card">
        <div class="card-image">
          <img
            src="https://lh3.googleusercontent.com/Ryg5ih-fOWbpEGDpbJYJz5RTq3_28Tvo2h3JQRCdiz16lw5ghitDMN6hcWA57g0d6_8VOqQYcCemRBOfZGQA64ZKkFOn71zuF1LDsXwCh4ywF-_z6VqxbBqmbQvK_-PWfZcztxDd1WDTEEUHX6GdP60"
            alt=""
            width="305px"
            height="200px"
          />
        </div>
        <div class="card-body">
          <h2>Monkey d luffy</h2>
          <p>22</p>
        </div>
      </div>
    </div>
    <!--  -->
    <div class="col-3">
      <div class="card">
        <div class="card-image">
          <img
            src="https://lh3.googleusercontent.com/Ryg5ih-fOWbpEGDpbJYJz5RTq3_28Tvo2h3JQRCdiz16lw5ghitDMN6hcWA57g0d6_8VOqQYcCemRBOfZGQA64ZKkFOn71zuF1LDsXwCh4ywF-_z6VqxbBqmbQvK_-PWfZcztxDd1WDTEEUHX6GdP60"
            alt=""
            width="305px"
            height="200px"
          />
        </div>
        <div class="card-body">
          <h2>Monkey d luffy</h2>
          <p>22</p>
        </div>
      </div>
    </div>
  </div>
</div>
